*{
    margin: none;
    padding: none;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* background-color: rgb(4, 4, 71); */
}
ul li{
    text-decoration: none;
    list-style-type: none;
}
.home{
    background-image: url(Images/homebackground.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    position: fixed;
    bottom: 0;
    top: 0;
    width: 50vw;
    height: 100vh;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    box-shadow:0 4px 5px rgba(64, 64, 179, 0.806);
}

.home img{
    width: 7%;
    float: right;
    margin-left: .5rem;
   

}


.home ul{
    display: flex;
    
}

#cMenu{
    display: none;
    background-color: rgb(77, 77, 171);
    color: bisque;
    width: 10rem;
    height: 50vh;
    margin-top: .2rem;
    
}

.level-btns{
    display: flex;
    flex-direction: column;   
    align-items: center; 

   
}

.btn{
    text-decoration: none;
    color: bisque;
    background-color: rgb(121, 98, 173);
    width: 6rem;
    height: 2rem;
    text-align: center;
    border-radius: .5rem;
    margin-top: .2rem;
    margin-bottom: .2rem;
}

.topic{
    margin-top: 1rem;
    margin-right: 2rem;
}

.btn:hover{
    border:1px solid bisque;
     background-color: rgb(121, 98, 173);
    box-shadow: 0 4px 5px rgba(95, 95, 218, 0.5);
} 


.h-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h-body h1{
    color:rgb(142, 66, 157);
    margin-top: 4rem;
}

.cTopic{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.choice{
    margin-top: 1rem;
    background-color: rgb(77, 77, 171);
    color: bisque;
    border-radius: .3rem;
    border: none;
    width: 15rem;
    height: 3rem;
}

.choice:hover{
    background-color: rgb(121, 98, 173);
    box-shadow: 0 4px 5px rgba(95, 95, 218, 0.5);
    cursor: pointer;
}

#startQuizBtn{
    margin-top: 1rem;
    background-color: rgb(77, 77, 171);
    color: bisque;
    border-radius: .3rem;
    border: none;
    width: 15rem;
    height: 3rem;
}

#startQuizBtn:hover{
    background-color: rgb(121, 98, 173);
    box-shadow: 0 4px 5px rgba(95, 95, 218, 0.5);
    cursor: pointer;
}

#difficulty-section{
    color: bisque;
    background-color: rgb(77, 77, 171);
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
    text-align: center;
}

.list-unstyled{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.levelbtn{
    text-decoration: none;
    color: bisque;
    background-color: rgb(121, 98, 173);
    width: 8rem;
    height: 2rem;
    text-align: center;
    border-radius: .5rem;
    margin-top: .2rem;
    margin-bottom: .2rem;
}
.levelbtn:hover{
    border:1px solid bisque;
     background-color: rgb(121, 98, 173);
    box-shadow: 0 4px 5px rgba(95, 95, 218, 0.5);
} 

/* quiz styling */
.quiz{
    background-image: url(Images/quiz-background.jpeg);
    background-repeat: repeat; 
    background-size:cover;
    width: 50vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    border-radius: 1rem;
    box-shadow:0 4px 5px rgba(64, 64, 179, 0.806);
}

.quiz nav img{
    width: 7%;
    float: right;
    margin-left: .5rem;
    margin-top: 0;
    margin-right: 1rem;
   

}

#quizHead{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;

}

#quizHead div{
  margin: 1rem;
}

#score{
    color: rgb(142, 66, 157);
    font-size: 2rem;
}

.questions{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
   
}

.timer{
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: rem;
}
#progress{
    position: relative;
    width: 30vw;
    height:1.5rem;
    background-color: transparent;
    border-radius: 2rem;
    margin-bottom: 1rem;
    border: 3px solid rgb(142, 66, 157);

}


.progress-bar{
    width: 50%;
    height:1.5rem;
    border-radius: 1.5rem;
    position: absolute;
    top: .03rem;
    left: -.03rem;
    background: linear-gradient( to right,#ea517c,#b478f1);
    transition: 1s linear;
}

.progress-text{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: bisque;
    font-size: 1rem;
    font-weight: 500;
}

.question{
    color: bisque;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.answer{
padding: 1rem;
width: 40vw;
border-radius: .5rem;
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 1rem;
cursor: pointer;
transition: 0.3s linear;
 color:bisque;
 border: 2px solid rgb(173, 165, 156);
}

.question-box{
    margin-left: 3rem;
}

.q-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.n-btn{
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    background-color: rgb(77, 77, 171);
    color: bisque;
    border-radius: .3rem;
    border: none;
    width: 15rem;
    height: 3rem;   
}


.n-btn:hover{
    background-color: rgb(121, 98, 173);
    box-shadow: 0 4px 5px rgba(33, 33, 60, 0.5);
}

/* scoreboard styling */

.scoreboard{
    background-image: url(Images/quiz-background.jpeg);
    background-repeat: repeat; 
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 60vh;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    box-shadow:0 4px 5px rgba(64, 64, 179, 0.806); 
    color: bisque;

}
.scoreboard img{
    width: 7%;
    float: right;
    margin-left: .5rem;
}


#p-btn{
    margin-bottom: 1rem;
    margin-top: 1rem;
    background-color: rgb(77, 77, 171);
    color: bisque;
    border-radius: .3rem;
    border: none;
    width: 10rem;
    height: 1.6rem;  
    text-decoration: none; 
    text-align: center;
}


#p-btn:hover{
    background-color: rgb(121, 98, 173);
    box-shadow: 0 4px 5px rgba(95, 95, 218, 0.5);
}

/* instructions styling */
.instructions{
    background-image: url(Images/quiz-background.jpeg);
    background-repeat: repeat; 
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 83vh;
    margin-top: 2rem;
    color: rgb(173, 165, 156);
    margin-bottom: 2rem;
    border-radius: 1rem;
    box-shadow:0 4px 5px rgba(64, 64, 179, 0.806); 
}
.instructions nav img{
    width: 7%;
    float: right;
    margin-left: .5rem;
    margin-top: 0;
   

}
  
.Rules{
    margin-left: 2rem;
    margin-right: 2rem;

}

.instructions h2,
h3{
    color: rgb(142, 66, 157);
}

.instructions p{
    color: rgb(173, 165, 156);
    margin: 2rem;
}

@media(max-width:800px){
    .home{
        width: 100vw;
    }

    #quiz{
        width: 100vw;  
    }

    #progress{
        width: 60vw;
    }
    .answer{
        width: 75vw;
    }

    .scoreboard
{
        width: 100vw;
    }

    .instructions{
        width: 100vw;
    }
}
